<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <title>BitShift</title>
  <%= css :app %>
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body>
	<%= yield %>
	<%= js :app %>
	<script src="/js/rem.min.js" type="text/javascript"></script>
</body>
</html>
