<div class='message-sent'>
	<a class='minimal-logo' href='/'><%= img '/images/minimal-logo.png', :alt => '' %></a>
	<h1>Your message has been sent</h1>
	<p>We'll be in contact with you soon.</p>

	<a class='return-home btn' href='/'>Return</a>
</div>
