$copper-rust: #954747;
$lotus: #7E3D3D;
$matrix: #B95A5A;

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  background: #404449;
  color: #F2F2F3;
  font-family: Lato, sans-serif;
  margin: 0;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
  font-weight: normal;
}

a {
  border-bottom: 1px dotted;
  color: inherit;
  text-decoration: none;

  &:hover, &:focus {
    border-bottom-color: $matrix;
  }
}

#{$all-text-inputs}, textarea {
  border: none;
  background: rgba(50,50,50,0.5);
  color: #F2F2F3;
  font: inherit;
  font-size: 85%;
  padding: 1em;

  &:focus {
    outline: #96989A solid 2px;
  }
}

.btn {
  @include transition(all 0.15s linear);
  box-shadow: 0 -5px 0 0 $lotus inset;
  border: none;
  background: $copper-rust;
  color: #FFF;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 1em 2em;
  margin: 0;
  display: inline-block;

  &:hover, &:focus {
    box-shadow: 0 -5px 0 0 lighten($lotus, 2.5%) inset;
    background: lighten($copper-rust, 2.5%);
  }
}

.minimal-logo {
  border: none;
}
