@import "bourbon/bourbon";
@import "entypo";

@import "utility";
@import "base";

.introduction {
  background: #404449;
  min-height: 100vh;
  padding-bottom: 2em;
  position: relative;
}

.introduction::after {
  content: '';
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 0.5em solid #404449;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -1em;
  left: 50%;
  top: 100%;
}

.page-header {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 2em;

  @include respond-to(medium-screen) {
    padding: 2em 0;
  }
}

.page-header p {
  margin: 0;
}

.page-header .spiel {
  text-shadow: 0 2px rgba(0,0,0,0.25);
  font-size: 300%;
  margin: 0 auto;
  display: table;

  @include respond-to(small-screen) {
    text-shadow: none;
    font-size: 150%;
  }
}

.page-header .spiel::after {
  content: '';
  border-bottom: 1px solid #3C7A4C;
  width: 35%;
  margin: 0.5em auto;
  display: block;
}

.page-header .sub-spiel {
  font-size: 150%;
  width: 25em;
  margin: 0 auto 1ex;

  @include respond-to(small-screen) {
    font-size: 100%;
  }

  @include respond-to(tiny-screen) {
    width: auto;
  }
}

.check-us-out {
  padding-left: 7em;
  padding-right: 7em;
  margin-top: 3em;

  @include respond-to(tiny-screen) {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.aspect-list {
  @extend %list-reset;
  line-height: 1;
  margin: 0 auto;
  display: table;
}

.aspect-list .aspect {
  float: left;
}

.aspect-list .aspect + .aspect {
  border-left: 1px solid #777;
  padding-left: 1em;
  margin-left: 1em;
}

.about-us {
  @extend .page-section;
  background: #F2F3F3;
  color: #3A4145;
  font-size: 115%;
  min-height: 50vh;
  padding: 1em 1em 2em;
  margin-top: 1em; // negate top arrow

  @include respond-to(medium-screen) {
    font-size: 100%;
    min-height: 0;
  }
}

.who-we-are {
  border-right: 1px solid #CCC;
  width: 50%;
  padding-right: 2em;
  margin-right: 2em;
  float: left;

  @include respond-to(medium-screen) {
    padding-right: 1em;
    margin-right: 1em;
  }

  @include respond-to(small-screen) {
    border-right: none;
    border-bottom: 1px solid #CCC;
    width: auto;
    padding-right: 0;
    padding-bottom: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    float: none;
  }
}

.who-we-are h2 {
  text-align: center;
  margin-bottom: 2em;
}

.how-we-roll {
  display: table;

  @include respond-to(small-screen) {
    text-align: center;
    display: block;
  }
}

.how-we-roll h2 {
  text-align: center;
  margin-bottom: 2em;
}

.how-we-roll ul {
  @extend %list-reset;
  @include clearfix;
}

.how-we-roll li {
  float: left;

  @include respond-to(small-screen) {
    float: none;
    display: inline-block;
  }

  @include respond-to(tiny-screen) {
    margin-top: 2em;
    display: block;
  }
}

.how-we-roll li + li {
  margin-left: 2em;

  @include respond-to(medium-screen) {
    margin-left: 0.5em;
  }
}

.how-we-roll .entypo {
  font-size: 400%;
  text-align: center;
  display: block;
  margin: 0.25em 0;
}

.services {
  @extend .page-section;
  background: #373739;
  text-align: center;
  min-height: 50vh;
  padding-bottom: 2em;
}

.services h2 {
  border-bottom: 1px solid #444;
  line-height: 0;
  padding-top: 1em;
}

.services h2 span {
  background: #373739;
  padding: 0 1em;
}

.services .services-list {
  @extend %list-reset;

  @include respond-to(tiny-screen) {
    width: 100%;
    padding-top: 1em;
    display: table;
  }
}

.services .service {
  margin-right: 3em;
  display: inline-block;
  vertical-align: top;

  @include respond-to(tiny-screen) {
    text-align: left;
    margin-right: 0;
    display: table-row;
  }
}

.services .service h3 {
  font-size: 100%;

  @include respond-to(tiny-screen) {
    text-align: right;
    padding-right: 1em;
    display: table-cell;
  }
}

.services .service ul {
  @extend %list-reset;

  @include respond-to(tiny-screen) {
    display: table-cell;
    padding-bottom: 1em;
  }
}

.contact-us {
  padding-left: 7em;
  padding-right: 7em;
  margin: 2em auto 0;
  display: table;
}

.get-in-touch {
  @extend .page-section;
  background: #404449;
  color: #F2F2F3;
  font-size: 115%;
  text-align: center;
  min-height: 100vh;
  padding: 1em;
  position: relative;

  @include respond-to(medium-screen) {
    font-size: 100%;
  }
}

.get-in-touch .page-section-content {
  width: 30em;
}

.get-in-touch h2 {
  font-size: 150%;
  margin: 1em 0 0;
}

.get-in-touch p {
  margin: 1ex 0 2em;
}

.get-in-touch .btn {
  width: 100%;
  padding-left: 10em;
  padding-right: 10em;

  @include respond-to(small-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.contact-form-errors {
  @extend %list-reset;
  background: rgba(0,0,0,0.25);
  text-align: left;
  font-size: 85%;
  padding: 1em;
  margin: 1em 0;

  .squared-cross {
    color: #6C607C;
    vertical-align: middle;
  }
}

.contact-form ul {
  @extend %list-reset;
}

.contact-form input, .contact-form textarea {
  margin: 0 0 1em;
  width: 100%;
}

.message-sent {
  text-align: center;
  display: table;
  margin: 5em auto;

  h1 {
    font-size: 150%;
  }

  .return-home {
    width: 100%;
    margin-top: 2em;
  }
}
