@import "bourbon/bourbon";
@import "entypo";

@import "utility";
@import "base";

.introduction {
  text-shadow: 0 1px rgba(0,0,0,0.25);
  padding: 2em 1em;
  position: relative;

  &::after {
    content: '';
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 8px solid #404449;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -16px;
    left: 50%;
    top: 100%;
  }

  .introduction-header {
    text-align: center;
    padding-bottom: 2em;

    @include respond-to(medium-screen) {
      padding: 2em 0;
    }
  }

  .introduction-header p {
    margin: 0;
  }

  .introduction-header .spiel {
    text-shadow: 0 2px rgba(0,0,0,0.25);
    font-size: 300%;
    margin: 0 auto;
    display: table;

    @include respond-to(small-screen) {
      text-shadow: none;
      font-size: 150%;
    }
  }

  .introduction-header .spiel::after {
    content: '';
    border-bottom: 1px solid $copper-rust;
    width: 35%;
    margin: 0.5em auto;
    display: block;
  }

  .introduction-header .sub-spiel {
    font-size: 150%;
    width: 25em;
    margin: 0 auto 1ex;

    @include respond-to(small-screen) {
      font-size: 100%;
    }

    @include respond-to(tiny-screen) {
      width: auto;
    }
  }

  .check-us-out {
    padding-left: 7em;
    padding-right: 7em;
    margin-top: 3em;

    @include respond-to(tiny-screen) {
      padding-left: 5em;
      padding-right: 5em;
    }
  }

  .aspect-list {
    @extend %list-reset;
    line-height: 1;
    margin: 0 auto;
    display: table;

    .aspect {
      float: left;
    }

    .aspect + .aspect {
      border-left: 1px solid #777;
      padding-left: 1em;
      margin-left: 1em;
    }
  }
}

.how-we-roll {
  background: $copper-rust;
  text-shadow: 0 1px rgba(0,0,0,0.25);
  font-size: 150%;
  text-align: center;
  padding: 2em 1em;

  @include respond-to(small-screen) {
    font-size: 100%;
  }

  h2 {
    margin-top: 0;
  }

  .features {
    @extend %list-reset;
    @include clearfix;
  }

  .features li {
    display: inline-block;

    @include respond-to(tiny-screen) {
      margin-top: 2em;
      display: block;
    }
  }

  .features li + li {
    margin-left: 2em;

    @include respond-to(medium-screen) {
      margin-left: 0.5em;
    }
  }

  .entypo {
    font-size: 400%;
    height: 1em; // screw entypo
    text-align: center;
    display: block;
  }
}

.about-us {
  background: #ECEDED;
  color: #3A4145;
  font-size: 115%;
  padding: 5em 2em;

  .about-us-content {
    width: 75em;
    margin: 0 auto;

    @include respond-to(medium-screen) {
      width: 100%;
    }
  }

  @include respond-to(small-screen) {
    font-size: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.who-we-are {
  border-right: 1px solid #CCC;
  width: 50%;
  padding-right: 2em;
  margin-right: 2em;
  float: left;

  @include respond-to(medium-screen) {
    border-right: none;
    border-bottom: 1px solid #CCC;
    width: auto;
    padding-right: 0;
    padding-bottom: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    float: none;
  }

  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
}

.services {
  padding-bottom: 2em;

  @include respond-to(medium-screen) {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .services-list {
    @extend %list-reset;

    @include respond-to(tiny-screen) {
      width: 100%;
      padding-top: 1em;
      display: table;
    }
  }

  .service {
    margin-right: 1em;
    display: inline-block;
    vertical-align: top;

    @include respond-to(tiny-screen) {
      text-align: left;
      margin-right: 0;
      display: table-row;
    }
  }

  .service h3 {
    font-size: 100%;

    @include respond-to(tiny-screen) {
      text-align: right;
      padding-right: 1em;
      display: table-cell;
    }
  }

  .service ul {
    @extend %list-reset;

    @include respond-to(tiny-screen) {
      display: table-cell;
      padding-bottom: 1em;
    }
  }
}

.get-in-touch {
  background: #404449;
  color: #F2F2F3;
  text-shadow: 0 1px rgba(0,0,0,0.25);
  font-size: 115%;
  text-align: center;
  width: 30em;
  padding: 2em 1em;
  margin: 0 auto;
  position: relative;

  @include respond-to(medium-screen) {
    font-size: 100%;
  }

  @include respond-to(tiny-screen) {
    width: 100%;
  }

  h2 {
    font-size: 150%;
    margin: 1em 0 0;
  }

  p {
    margin: 1ex 0 2em;
  }

  .btn {
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;

    @include respond-to(small-screen) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.contact-form-errors {
  @extend %list-reset;
  background: rgba(0,0,0,0.25);
  text-align: left;
  font-size: 85%;
  padding: 1em;
  margin: 1em 0;

  .squared-cross {
    color: $copper-rust;
    vertical-align: middle;
  }
}

.contact-form {
  ul {
    @extend %list-reset;
  }

  input, textarea {
    margin: 0 0 1em;
    width: 100%;
  }
}

.message-sent {
  text-align: center;
  display: table;
  margin: 5em auto;

  h1 {
    font-size: 150%;
  }

  .return-home {
    width: 100%;
    margin-top: 2em;
  }
}
