@import "bourbon/bourbon";
@import "entypo";

%list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  background: #F2F3F3;
  color: #F2F2F3;
  font-family: Lato, sans-serif;
  margin: 0;
}

h2 {
  font-size: 125%;
}

a {
  border-bottom: 1px dotted;
  color: inherit;
  text-decoration: none;
}

.btn {
  box-shadow: 0 -5px 0 0 #3C7A4C inset;
  border: none;
  background: #47955A;
  color: #FFF;
  font: inherit;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  display: inline-block;
}

.page-section {
  @include display(flex);
  @include align-items(center);

  .page-section-content {
    width: 75rem;
    margin: 0 auto;
  }
}

.introduction {
  background: #404449;
  min-height: 100vh;
  padding-bottom: 2rem;
  position: relative;
}

.introduction::after {
  content: '';
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 0.5rem solid #404449;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -1rem;
  left: 50%;
  top: 100%;
}

.page-header {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.page-header h1 {
  font-size: 200%;
  font-weight: normal;
}

.page-header p {
  margin: 0;
}

.page-header .spiel {
  text-shadow: 0 2px rgba(0,0,0,0.25);
  font-size: 500%;
  margin: 0 auto;
  display: table;
}

.page-header .spiel::after {
  content: '';
  border-bottom: 1px solid #3C7A4C;
  width: 35%;
  margin: 0.5em auto;
  display: block;
}

.page-header .sub-spiel {
  font-size: 150%;
  width: 40rem;
  margin: 0 auto 1ex;
}

.check-us-out {
  padding-left: 7rem;
  padding-right: 7rem;
  margin-top: 3rem;
}

.aspect-list {
  @extend %list-reset;
  line-height: 1;
  margin: 0 auto;
  display: table;
}

.aspect-list .aspect {
  float: left;
}

.aspect-list .aspect + .aspect {
  border-left: 1px solid #777;
  padding-left: 1rem;
  margin-left: 1rem;
}

.about-us {
  @extend .page-section;
  color: #3A4145;
  font-size: 115%;
  min-height: 50vh;
  margin: 0.5rem auto;
}

.who-we-are {
  border-right: 1px solid #CCC;
  width: 50%;
  padding-right: 2rem;
  margin-right: 2rem;
  float: left;
}

.who-we-are h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.how-we-roll {
  display: table;
}

.how-we-roll h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.how-we-roll ul {
  @extend %list-reset;
  @include clearfix;
  margin: 3rem 0 0;
}

.how-we-roll li {
  float: left;
}

.how-we-roll li + li {
  margin-left: 2rem;
}

.how-we-roll .entypo {
  font-size: 4rem;
  text-align: center;
  display: block;
  margin: 0 auto 1ex;
}

.services {
  @extend .page-section;
  background: #373739;
  text-align: center;
  min-height: 50vh;
  padding: 2vh 0;
}

.services h2 {
  border-bottom: 1px solid #444;
  line-height: 0;
  padding-top: 1em;
}

.services h2 span {
  background: #373739;
  padding: 0 1rem;
}

.services .service {
  margin-right: 3em;
  display: inline-block;
  vertical-align: top;
}

.services h3 {
  font-size: 100%;
}

.services .service ul {
  @extend %list-reset;
}

.contact-us {
  padding-left: 7rem;
  padding-right: 7rem;
  margin: 2rem auto 0;
  display: table;
}

.get-in-touch {
  @extend .page-section;
  background: #404449;
  color: #F2F2F3;
  font-size: 115%;
  text-align: center;
  height: 100vh;
  padding: 1rem;
  position: relative;
}

.get-in-touch .page-section-content {
  width: 30rem;
}

.get-in-touch h2 {
  font-size: 150%;
  margin: 2rem 0 0;
}

.get-in-touch p {
  margin: 1ex 0 2rem;
}

.get-in-touch .btn {
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
}

.contact-form-errors {
  @extend %list-reset;
  background: rgba(0,0,0,0.25);
  text-align: left;
  font-size: 85%;
  padding: 1rem;
  margin: 1rem 0;

  .squared-cross {
    color: #6C607C;
    vertical-align: middle;
  }
}

.contact-form ul {
  @extend %list-reset;
}

.contact-form input, .contact-form textarea {
  border: none;
  background: rgba(50,50,50,0.5);
  color: #F2F2F3;
  font: inherit;
  font-size: 85%;
  padding: 1rem;
  margin: 0 0 1rem;
  width: 100%;

  &:focus {
    outline: #96989A solid 2px;
  }
}
